<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>add a new item</title>
</head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>add a new item</h1>

      <form action="/users/<%= user._id %>/foods" method="POST">
        <label for="name">Food name:</label>
        <input type="text" name="name" id="name" required>

        <label for="ingredients">Ingredients:</label>
        <input type="text" name="ingredients" id="ingredients" required>

      <button type="submit">Add</button>
    </form>
  </body>
</html>